# Circle Paymaster config
NEXT_PUBLIC_ENTRYPOINT_ADDRESS=
NEXT_PUBLIC_PAYMASTER_ADDRESS=
NEXT_PUBLIC_USDC_TOKEN_ADDRESS=
NEXT_PUBLIC_BUNDLER_RPC_URL=

# Circle App Kit
NEXT_PUBLIC_CIRCLE_KIT_KEY=

CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
NEXT_PUBLIC_GEMINI_API_KEY=
